<%- include('includes/head.ejs')%>
</head>

<body>
  <%- include('includes/navigation.ejs')%>
    <h1>Neka greška...</h1>
    <h1><%= error %></h1>
    <h1><%= opis %></h1>

<%- include('includes/end.ejs')%>
